@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;

}
a {
  text-decoration: none;
}
h1 {
  text-align: center;
}
button {
  font-family: 'Roboto', sans-serif;
  outline: unset;
  border: none;
  cursor: pointer;
  background-color: unset;
  font-size: 16px;
}
input, textarea {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  outline: unset;
  border: 0;


}
main {
  padding: 10px;
  min-height: calc(100vh - 100px);

}

.blackBtn {
  padding: 5px 15px;
  border-radius: 16px;
  background-color: #000;
  border: 1px solid #000;

  color: #fff;
  font-size: 16px;
  transition: .2s ;
}
.blackBtn:hover {
  background-color: rgba(44, 44, 44, 0.89);
  border: 1px solid #000;
}

